<%= render 'layouts/header'; %>

<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
      <h1><%= @evento.title %></h1>
    </div>
  </div>

  <div id="links">
    <div class="wrapper_skinny">
      <ul>
        <li> <%= link_to "Invitado", root_path %> </li>
        <li><%= link_to "New Invitado", new_evento_invitado_path(@evento) %></li>
        <li><%= link_to "Account Settings", edit_evento_registration_path %></li>
        <li><%= link_to "View Evento", evento_path(current_evento) %></li>
      </ul>
    </div>
  </div>

  <div id="episodes">
    <div class="wrapper_skinny">
      <ul class="cf">
        <% @invitados.each do |invitado| %>
          <li class="cf">
            <div class="episode_thumbnail">
              <a href="#">
                <%= image_tag invitado.invitado_thumbnail.url(:large) %>
              </a>
            </div>
            <div class="episode_overview">
              <h2><%= link_to invitado.title, evento_invitado_path(@evento, invitado) %></h2>
              <p class="description"><%= truncate(invitado.description, lenght: 160) %></p>
              <div class="authorized_links">
                <%= link_to "Edit", edit_evento_invitado_path(@evento, invitado) %>
                <%= link_to "Delete", evento_invitado_path(@evento, invitado), method: :delete, data: {confirm: "Are you sure?"} %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>

      <%= will_paginate @invitados, previous_label: "Previous", next_label: "Next" %>
    </div>
  </div>
</div>