<%= form_for ([@evento, @invitado]) do |f| %>

	<div class="field">
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</div>

	<div class="field">
		<%= f.label :description %><br>
		<%= f.text_area :description %>
	</div>

	<div class="field">
	  <%= link_to "Generate QrCode", "/invitados/generate"  %>
	<br><br><br>
		<%= f.label :invitado_thumbnail %><br> <br>
		<%= f.file_field :invitado_thumbnail %>
	</div>
	<div class=" field avatar">
		 <%= f.file_field :avatar %>
	</div>

	

	<%= f.submit class: "button button_highlight button_block" %>
<% end %>