<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
      <h1><%= @evento.title %></h1>
    </div>
  </div>

  <div id="links">
    <div class="wrapper_skinny">
      <ul>
        <li><%= link_to "Invitados", root_path %></li>
        <li><%= link_to "Nuevo Invitado", new_evento_invitado_path(@evento) %></li>
        <li><%= link_to "Account Settings", edit_evento_registration_path %></li>
        <li><%= link_to "View Event", evento_path(current_evento) %></li>
      </ul>
    </div>
  </div>

  <div id="form">
	  <div class="wrapper_skinny">
			<%= render 'form' %>
		</div>
	</div>
</div>