<div id="podcast_show">
	<div id="show_banner">
		<div class="wrapper_skinny">
			<h1><%= @evento.title %></h1>
			<p class="description"><%= @evento.description %></p>
			
			
		</div>
	</div>

	<div id="breadcrumb">
		<%= link_to eventos_path do %>
			All Eventos
			<span>/</span>
			<%= link_to @evento.title, evento_path(@evento) %>
			<span>/</span>
			<%= @invitado.title %>
			<% end %>
		
	</div>

	<div id="episode_content">
		<div class="wrapper_skinny">
			<%= image_tag @invitado.invitado_thumbnail.url(:large), class: "current_episode_thumbnail" %>
			<h2><%= @invitado.title %></h2>
			<p class="description"><%= @invitado.description %></p>

	

		</div>
	</div>

	<div id="episodes">
		<div class="wrapper_skinny">
			<ul class="cf">
				<% @invitados.each do |invitado| %>
					<li class="cf">
						<div class="episode_thumbnail">
							<a href="episode.html">
								<%= image_tag invitado.invitado_thumbnail.url(:large) %>
							</a>
						</div>
						<div class="episode_overview">
							<h2><%= link_to invitado.title, evento_invitado_path(@evento, invitado) %></h2>
							<p class="description"><%= truncate(invitado.description, length: 300) %></p>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

